---
layout: layouts/base.njk
headerClass: alt
---
<section id="latest" class="main special">
  <header class="major">
    <h2>Latest</h2>
  </header>
  <ul class="features">
    {% for item in collections.latest %}
    <li>
      <span class="icon solid major style1 fa-newspaper"></span>
      <h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
      <p>{{ item.data.description }}</p>
      <p><small><time datetime="{{ item.date | isoDate }}">{{ item.date | readableDate }}</time></small></p>
    </li>
    {% endfor %}
  </ul>
</section>
