<li class="card">
  <a href="{{ item.url }}" class="card__link">
    <div class="card__body">
      <p class="card__meta">
        <time datetime="{{ item.date | isoDate }}">{{ item.date | readableDate }}</time>
      </p>
      <h3 class="card__title">{{ item.data.title }}</h3>
      {% if item.data.description %}
      <p class="card__description">{{ item.data.description }}</p>
      {% endif %}
    </div>
  </a>
</li>
