<footer id="footer">
  <section>
    <h2>{{ site.title }}</h2>
    <p>{{ site.description }}</p>
  </section>
  <section>
    <h2>Around the office</h2>
    <dl class="alt">
      <dt>Articles</dt><dd><a href="/posts/">Latest posts</a></dd>
    </dl>
  </section>
  <p class="copyright">&copy; {{ site.title }}. Probably not endorsed by HR.</p>
  <p class="copyright">Template by <a href="https://html5up.net" rel="noopener noreferrer" target="_blank">HTML5Up</a>.</p>
</footer>
