<footer class="site-footer">
  <div class="container site-footer__inner">
    <p>© {{ site.title }} — probably not endorsed by HR.</p>
    <p>Template by <a href="https://html5up.net" rel="noopener noreferrer" target="_blank">HTML5Up</a></p>
  </div>
</footer>
