<footer id="footer">
  <p class="copyright">&copy; {{ site.title }}. Probably not endorsed by HR.</p>
  <p class="copyright">Template by <a href="https://html5up.net" rel="noopener noreferrer" target="_blank">HTML5Up</a>.</p>
</footer>
/dd>
    </dl>
  </section>
  <p class="copyright">&copy; {{ site.title }}. Probably not endorsed by HR.</p>
  <p class="copyright">Template by <a href="https://html5up.net" rel="noopener noreferrer" target="_blank">HTML5Up</a>.</p>
</footer>
